    <!-- design section -->

    <section class="design_section layout_padding-top background-color">
        <div class="container">
          <div class="heading_container">
            <h2>
              Software Developer
            </h2>
          </div>
          <div class="design_container layout_padding2">
            <div class="box b-1">
              <h5>
                User <br />
                Experience
              </h5>
            </div>
            <div class="box b-2">
              <h5>
                Software <br />
                Design
              </h5>
            </div>
            <div class="box b-3">
              <h5>
                Quality Frameworks
              </h5>
            </div>
          </div>
        </div>
      </section>
  
      <!-- end design section   -->