{% load static%}
    <!-- project section -->

    <section class="project_section layout_padding-bottom">
        <div class="container">
          <div class="heading_container">
            <h2>
              Our Projects
            </h2>
          </div>
          <div class="project_container layout_padding2-top">
            <div class="box">
              <img src="{% static 'images/p-1.jpg'%} ">
            </div>
            <div class="box">
              <img src="{% static 'images/p-2.jpg'%}">
            </div>
            <div class="box">
              <img src="{% static 'images/p-3.jpg'%}">
            </div>
            <div class="box">
              <img src="{% static 'images/p-4.jpg'%}">
            </div>
            <div class="box">
              <img src="{% static 'images/p-5.jpg'%}">
            </div>
            <div class="box">
              <img src="{% static 'images/p-6.jpg'%}">
            </div>
            <div class="box">
              <img src="{% static 'images/p-7.jpg'%}">
            </div>
            <div class="box">
              <img src="{% static 'images/p-8.jpg' %}">
            </div>
            <div class="box">
              <img src="{% static 'images/p-9.jpg' %}">
            </div>
          </div>
        </div>
      </section>
  
      <!-- end project section -->